/* primary design */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.inter-font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.ms-madi-regular {
  font-family: "Ms Madi", cursive;
  font-weight: 400;
  font-style: normal;
}


body{
    background-color: black;
    color: white;

}
.primary-btn{
    padding: 16px 46px;
    border-radius: 42px;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: rgba(230, 83, 60, 1);
}
.text-2{
    color: rgba(255, 255, 255, 0.65);
}
.banner,.habit,.run-easily,.training,.team,.footer-section{
 max-width:1400px;
 margin: 30px auto;

}
.habit,.run-easily,.training,.BMI-calculation{
    margin-bottom: 70px;
}

.title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 5px;
}
.description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
}

/* design nav bar */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 50px;
    padding: 5px 10px;
    border: 1px solid rgb(128, 128, 128,0.3);
    border-radius: 40px;
}
.dropdown{
    display: none;
}
.menu>div{
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}
ul>li{
    list-style: none;
}
ul>li>a{
   text-decoration: none;
   color: white;
   font-size: 1.125rem;
}
#domain{
    font-size: 2.25rem;
    font-weight: 900;
    color: rgba(230, 83, 60, 1);
}
#home{
    background-color: rgba(230, 83, 60, 1);
    padding: 8px 20px;
    border-radius: 46px;
}

/* design banner-body */
.banner-body{
     
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.banner-content{
    max-width: 550px;
}

.banner-title{
    font-size: 4.75rem;
    font-weight: 900;
     margin-bottom: 20px;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}
.banner-img{
    position: relative;
   right: 50px;
  
    
}

#download{
   background-color: transparent;
  border: 1px solid white;
}
.box-1,.box-2{
       width: 160px;
        border:1px solid rgb(128, 128, 128,0.2) ;
       background-color: rgb(255, 255, 255,0.1);
       padding: 10px 10px;
       border-radius: 12px;
      
}
.banner-img p{
    margin-top: 5px;
 
}
.box-1>h3{
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 900;
}
.box-2>.content>h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0px;
}
.box-1{

   position: absolute;
   left: 220px;
   bottom: 400px;
   /* box-sizing: border-box; */
}
.box-2{
    display: flex;
    gap: 15px;
    align-items: center;
   position: absolute;
   bottom: 100px;
   left: -50px;
 
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  rgba(230, 83, 60, 1);
}

/* design habit section */
.habit{
    text-align: center;
}
.habit-content{
    max-width: 670px;
    margin: 50px auto;
}
.habit-names{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;

}


.habit-names img{
  border-radius: 50%;
}
.habit-names h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

/* design run section */
.run-easily{
    padding: 30px 30px 30px 55px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    display: flex;
    gap: 200px;
    align-items: center;
    box-sizing: border-box;

}
.run-easily-content{
    max-width: 400px;

}
.run-easily-content h3{
    margin-top: 0px;
}
.run-easily-image{
 
   max-width: 45%;
   max-height: 350px;
   overflow: hidden;
   border-radius: 18px;
  
}
.run-easily-image>img{

  width: 100%;
  height: 100%;
  object-fit: cover;
 transform: scale(2.5);
 transform-origin: 75% 37%;

}

/* design training section */


.exercise-images{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.row-1{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap:1px;
}
.row-2{
    display: grid;
    grid-template-columns: 1.6fr 1fr 1.4fr;
    gap: 1px;
}
.row-1,.row-2 p{
   font-size: 0.75rem;
}
.first-row,.second-row,.third-row{
    display: none;
}
.exercise-images img{
    width: 100%;
    height: 100%;
    opacity: 0.4;
    
}
.exercise-1 {
   background-color: #06FFD2;
   position: relative;
}
.exercise-1>p{
    position:absolute;
    bottom: 30px;
    left: 20px;
    color: black;
}
.exercise-2{
    background-color: rgba(255, 0, 0, 0.3);
    position: relative;
}
.exercise-2>p{
    position: absolute;
    top: 20px;
    left: 20px;
}
.exercise-3{
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}
.exercise-3>p{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 175px;
}
.exercise-4{
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}
.exercise-4>p{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 170px;
}
.exercise-5{
    background-color: rgba(66, 255, 0, 0.3);
    position: relative;
}
.exercise-5>p{
    width: 175px;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.exercise-6{
    background-color: rgba(0, 71, 255, 0.3);
    position: relative;
}
.exercise-6>p{
    position:absolute;
    width: 175px;
    bottom: 30px;
    left: 20px;
}

/* styles BMI Section */
.BMI-calculation>.heading{
   text-align: center;
}
.calculation-container{
    margin-top: 50px;
    background-color: rgba(34, 34, 34, 1);
     padding:50px 0px ;
    box-sizing: border-box;
}
.calculation-container>.calculation{
    display: flex;
    gap: 200px;
    max-width: 1200px;
    margin: 0 auto;
}
.sub-title{
    font-size: 1.75rem;
}
.chart{
    width: 320px;

}
.chart table, th,td{
    padding: 10px 0px 10px 5px;
    border: 1px solid gray;
    border-collapse: collapse;
}
.chart th{
    font-size: 0.9rem;
}
.chart td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
}
.calculator{
    width: 570px;
}
input,select{
    margin-bottom: 12px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;  
}
.input-div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.form-input-1{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}
.form-input-2{
    display: grid;
    grid-template-columns: auto;
}

/* styles team section */

.team-heading{
    text-align: center;
    max-width: 671px;
    margin: 0 auto;
}
.team-member{
    background-color:rgba(255, 255, 255, 0.1) ;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
     gap: 20px;
}

.trainer>img{
    width:100%;
    height: 100%;
    border-radius: 18px;
   
}
/* style footer */
footer{
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-section{
    padding: 65px 0px 35px 0px;
}
.footer-content{
    display: flex;
    gap: 200px;
}
.fitness{
    width: 480px;
}
.fitness>#domain{
    font-size: 4.375rem;
    margin-bottom: 20px;
}
.footer-section>p{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.information{
   
    width: 250px;
}
.information-title{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
.information>ul{
    display: grid;
    gap: 20px;
}
.information ul li a{
    color: rgba(255, 255, 255, 0.5);
    
}

@media screen and (max-width:576px) {
   /* responsive nav bar */
    nav ul li{
        display: none;
    }
    nav ul{
        border: none;
    }

    .dropdown{
        position: relative;
        display: inline-block;
    }
    .dropdown-content{
        display: none;
        
    }
    .dropdown-content>a{
        text-decoration: none;
        color: white;
    }
   .dropdown:hover .dropdown-content{
       display: grid;
       position: relative;
       left: 10px;  
   }
   /* responsive banner part */
   .banner-body{
     flex-direction: column;
     gap: 20px;
   }
   .banner-img{
    right: 0px;
   }
   .banner-img>img{
    width: 100%;
   }
   .primary-btn{
    font-size: 1rem;
    padding: 16px 30px;
   }
   .box-2{
    left: 0px;
   }
   .box-1{
    left: 160px;
    bottom: 370px;
   }
   /* responsive habit section */
   .habit-names{
    grid-template-columns: repeat(1,1fr);
   }
   /* responsive run section */
   .run-easily{
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;

   }
   .run-easily-image{
    max-width: 100%;
    
   }
  .run-easily-image>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1.5);
  transform-origin: 80% 15% ;
}
/* responsive training section */
  .row-1,.row-2{
    display: none;
}
  .first-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .second-row{
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
  }
  .third-row{
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
  }
   .exercise-1,.exercise-2,.exercise-3,.exercise-4,.exercise-5,.exercise-6>p{
    font-size: 0.5rem;
   }

   /* responsive BMI CALCULATION section */
   
   .calculation-container>.calculation{
    flex-direction: column;
    gap: 5px;
    margin-left: 5px;
   }

   .calculator{
    width: 100%;
   }
    .form-input-1{
        grid-template-columns: repeat(1,1fr);
    }
   .chart{
    width: 100%;
   }
   table{
    width: 95%;
   }
 
   /* responsive team section */
   .team-member{
    grid-template-columns: repeat(1,1fr);
   }

   /* responsive footer */
   .footer-content{
    flex-direction: column;
    gap: 10px;
   }
   .fitness{
    width: 100%;
   }
}
