/* primary design */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.inter-font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.ms-madi-regular {
  font-family: "Ms Madi", cursive;
  font-weight: 400;
  font-style: normal;
}


body{
    background-color: black;
    color: white;

}
.primary-btn{
    padding: 16px 46px;
    border-radius: 42px;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: rgba(230, 83, 60, 1);
}
.text-2{
    color: rgba(255, 255, 255, 0.65);
}
.banner,.habit{
 max-width:1200px;
 margin: 50px auto;

}
.title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 5px;
}
.description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
}

/* design nav bar */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    gap: 50px;
    padding: 5px 10px;
    border: 1px solid rgb(128, 128, 128,0.3);
    border-radius: 40px;
}
.dropdown{
    display: none;
}
.menu>div{
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}
ul>li{
    list-style: none;
}
ul>li>a{
   text-decoration: none;
   color: white;
   font-size: 1.125rem;
}
#domain{
    font-size: 2.25rem;
    font-weight: 900;
    color: rgba(230, 83, 60, 1);
}
#home{
    background-color: rgba(230, 83, 60, 1);
    padding: 8px 20px;
    border-radius: 46px;
}

/* design banner-body */
.banner-body{
     
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.banner-content{
    max-width: 550px;
}

.banner-title{
    font-size: 4.75rem;
    font-weight: 900;
     margin-bottom: 20px;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}
.banner-img{
    position: relative;
   right: 50px;
  
    
}

#download{
   background-color: transparent;
  border: 1px solid white;
}
.box-1,.box-2{
       width: 160px;
        border:1px solid rgb(128, 128, 128,0.2) ;
       background-color: rgb(255, 255, 255,0.1);
       padding: 10px 10px;
       border-radius: 12px;
      
}
.banner-img p{
    margin-top: 5px;
 
}
.box-1>h3{
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 900;
}
.box-2>.content>h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0px;
}
.box-1{

   position: absolute;
   left: 220px;
   bottom: 400px;
   /* box-sizing: border-box; */
}
.box-2{
    display: flex;
    gap: 15px;
    align-items: center;
   position: absolute;
   bottom: 100px;
   left: -50px;
 
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  rgba(230, 83, 60, 1);
}

/* design habit section */
.habit{
    text-align: center;
}
.habit-content{
    max-width: 670px;
    margin: 50px auto;
}
.habit-names{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;

}


.habit-names img{
  border-radius: 50%;
}
.habit-names h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
@media screen and (max-width:576px) {
   /* responsive nav bar */
    nav ul li{
        display: none;
    }
    nav ul{
        border: none;
    }

    .dropdown{
        position: relative;
        display: inline-block;
    }
    .dropdown-content{
        display: none;
        
    }
    .dropdown-content>a{
        text-decoration: none;
        color: white;
    }
   .dropdown:hover .dropdown-content{
       display: grid;
       position: relative;
       left: 10px;  
   }
   /* responsive banner part */
   .banner-body{
     flex-direction: column;
     gap: 20px;
   }
   .banner-img{
    right: 0px;
   }
   .banner-img>img{
    width: 100%;
   }
   .primary-btn{
    font-size: 1rem;
    padding: 16px 30px;
   }
   .box-2{
    left: 0px;
   }
   .box-1{
    left: 200px;
   }
   /* responsive habit section */
   .habit-names{
    grid-template-columns: repeat(1,1fr);
   }
}
